.footer {
    background-color: #122a30;
    padding: 40px 0;
}

.footer h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.footer p {
    font-size: 14px;
    color: #d3c6c6;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #777;
    text-decoration: none;
}

.footer-bottom {
    background-color: #122a30;
    padding: 10px 0;
    margin-top: 30px;
}

.footer-bottom p {
    font-size: 14px;
    color: #777777;
}

.footer-bottom ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom ul li a {
    color: #777;
    text-decoration: none;
}
.footer .contact-address p {
    color: #fff;
    /* Replace with your desired color */
}

@media (max-width: 767px) {
    .footer .col-md-6 {
        margin-bottom: 30px;
    }

    .footer ul.list-unstyled li {
        margin-bottom: 15px;
    }

    .footer-bottom ul.list-inline li {
        display: block;
        margin-bottom: 10px;
    }
}